<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars Details</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav th:insert="navbar"></nav>
<main role="main" class="container-fluid p-4">
    <div class="card mb-4 shadow-sm border-primary background-primary">
        <div class="card-header text-white bg-primary">
            Autó részletes adatai
        </div>
        <div class="card-body">
            <form th:action="@{/modifyCar}" th:object="${carDetails}" th:method="post">
                <div class="form-group input-group mb-3">
                    <div class="form-group input-group mb-3">
                        <input class="form-control" id="id" th:name="id" th:value="${carDetails.getId()}" hidden>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Carbrand">Márka</span>
                        </div>
                        <input class="form-control" id="brand" th:name="brand" th:value="${carDetails.getBrand()}"
                               aria-label="Carbrand"
                               aria-describedby="Carbrand_input">
                        <!--select class="browser-default custom-select" th:field="*{brand}">
                            <option th:each="brand:${brands}"
                            th:utext="${brand}"
                            th:value="${brand}"
                                    th:name="${brand}"></option>
                        </select-->
                    </div>
                    <div class="form-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="CarType">Típus</span>
                        </div>
                        <input class="form-control" id="type" th:name="type" th:value="${carDetails.getType()}"
                               aria-label="CarType"
                               aria-describedby="CarType_input">
                    </div>
                    <div class="form-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="CarDesign">Kivitel</span>
                        </div>
                        <input class="form-control" id="design" th:name="design" th:value="${carDetails.getDesign()}"
                               aria-label="CarDesign"
                               aria-describedby="CarDesign_input">
                    </div>
                    <div class="form-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="CarYear">Gyártási év</span>
                        </div>
                        <input input type="number" class="form-control" id="year" th:name="year" th:value="${carDetails.getYear()}"
                               aria-label="CarYear"
                               aria-describedby="CarYear_input">
                    </div>
                    <div class="form-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="CarColor">Szín</span>
                        </div>
                        <input class="form-control" id="color" th:name="color" th:value="${carDetails.getColor()}"
                               aria-label="CarColor"
                               aria-describedby="CarColor_input">
                    </div>
                    <div class="form-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="CarCap">Motor mérete</span>
                        </div>
                        <input input type="number" class="form-control" id="cubicCapacity" th:name="cubicCapacity" th:value="${carDetails.getCubicCapacity()}"
                               aria-label="CarCap"
                               aria-describedby="CarCap_input">
                    </div>
                    <div class="form-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="CarFuel">Üzemanyag</span>
                        </div>
                        <input class="form-control" id="fuelType" th:name="fuelType" th:value="${carDetails.getFuelType()}"
                               aria-label="CarFuel"
                               aria-describedby="CarFuel_input">
                    </div>
                    <div class="form-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="CarTransmission">Váltó típusa</span>
                        </div>
                        <input class="form-control" id="transmission" th:name="transmission" th:value="${carDetails.getTransmission()}"
                               aria-label="CarTransmission"
                               aria-describedby="CarTransmission_input">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Módosítás</button>
            </form>
            <div style="padding-top:15px;">
            <form th:action="@{/deleteCar}" method="post">
                <button type="submit" class="btn btn-danger" th:name="carId" th:value="${carDetails.getId()}">Törlés</button>
            </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>