<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars List</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav th:insert="navbar"></nav>
<main role="main" class="container-fluid p-4">
    <div class="card w-100 mb-4 shadow-sm border-primary background-primary">
        <div class="card-header text-white bg-primary" >
            Autók listája
        </div>
        <div class="card-body">
            <table class="table" id="car">
                <thead class="table-borderless">
                <tr>
                    <th scope="col"></th> <!--th:if="${buttons==false}"-->
                    <th scope="col">Autó márkája</th>
                    <th scope="col">Autó típusa</th>
                    <th scope="col">Autó kivitele</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car:${cars}">
                    <td>
                        <form th:action="@{/getCarDetails}" method="post">
                            <button type="submit" class="btn btn-primary" th:name="carId" th:value="${car.getId()}">
                                Autó részletes adatai
                            </button>
                        </form>
                    </td>
                    <td th:text="${car.getBrand()}"></td>
                    <td th:text="${car.getType()}"></td>
                    <td th:text="${car.getDesign()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>